<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body> 
	<div id="myApp">
		<input type="radio" id="man" value="男" v-model="sex">
		<label for="man" >男</label>
		<input type="radio" id="woman" value="女" v-model="sex">
		<label for="woman" >女</label>
		<div>
			<input type="radio" id="ap" value="苹果" v-model="sg">
			<label for="ap">苹果</label>
			<input type="radio" id="bn" value="香蕉" v-model="sg">
			<label for="bn">香蕉</label>
		</div>
		<h2>你的性别：{{sex}}</h2>
		<h2>喜欢吃：{{sg}}</h2>
	</div>
<script src="vue.min.js"></script>
<script>
	var myApp=new Vue({
		el:"#myApp",
		data:{
			sex:[],
			sg:[],
		},
	})
</script>
</body>
</html>